body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    margin: 0;
}

/* Header*/
.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1em 0;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    margin: 0;
}

.nav-list {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

/* Hero */
#hero {
    height: 600px;
    background-image: url("../images/hands-typing.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(70%);
}

#hero h1 {
    margin: 0;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 1em 1.5em;
    text-align: center;
}

/* About Me */
#about-me {
    padding: 1em 0;
}

.about-layout {
    display: flex;
    gap: 2em;
    align-items: flex-end;
}

.about-text {
  width: 66.666%;
  padding: 2em 0;
}

.about-image {
  width: 33.333%;
  display: block;
  height: auto;
}

/* Services */
#services {
  background-color: #fafafa;
  padding: 4rem 0;
}

.section-heading {
  max-width: 500px;
  margin: 0 auto 1em;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.service-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2em;
}

.btn {
  margin-top: auto;
  padding: 0.75em 1.25rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

/* My Work */
#work {
  padding: 4em 0;
}

.work-intro {
  max-width: 600px;
  margin: 0 auto 3em;
  text-align: center;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
}

.work-grid img {
  width: 100%;
  display: block;
}

/* top row */
.work-1 {
  grid-column: 1 / 4;
}

.work-2 {
  grid-column: 4 / 7;
}

/* bottom row */
.work-3 {
  grid-column: 1 / 3;
}

.work-4 {
  grid-column: 3 / 5;
}

.work-5 {
  grid-column: 5 / 7;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1.5em 0;
}